html * {
  margin: 0;
  padding: 0;
  
}
.titulo{
  font-family: 'Sniglet', cursive;

}
.ulti{
  padding: 0 100px 0 100px;
  border-radius: 100px;
  background-color: #df3a36;
}
nav{
  font-size: 20px;
}
.rojo{
  color: white;
  background-color: #df3a36;
  
}
.mail {
  font-size: 20px;
}
.rubik {
  font-family: 'Rubik', sans-serif;
}
.bg-farmacia{
  background-image: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, 0.6)), url('../img/veterinaria2.jpg');
  background-size: cover;
}
.bg-jugueteria {
  background-image: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, 0.6)),
  url('../img/jueguetes.jpg');
  background-size: cover;
}
.bg {
  background-image: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, 0.6)),
  url('../img/fondo\ de\ patitas.jpg');
  background-size: cover;
}
.banner-marcas{
  border-top-left-radius: 200px 100px;
  border-top-right-radius: 200px 100px;
  width: 75vw;
  display: flex;
  justify-content: center;
}

.bi-cart-check{
  color: black
}
textarea {
	resize: none;
}
.tarjetas {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
    
}
.card {
    margin: 10px 10px 10px 10px ;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 50px;
    
    transition: transform .7s; 
}
.card:hover {
  position: relative;
  z-index: 1;
  transform: scale(1.2);
}
.stock {
  
  transform: rotate(45deg);
  top: 200px;
  width: 18vw;
  color: white;
  border-radius: 10px;
  background-color:#df3a36;
  position: absolute;
}
header h2{
    text-shadow: chartreuse;
    font-size: 50px;
    color: whitesmoke;
}
.index {
    border-radius: 100px;

}
.card-title {
  height: 7vh;
}
.bg-form{
  background-color: #df3a36;
}
form .btn { 
  display: flex;
    padding: 10px 100px 10px 100px;
}
form .btn i {
  font-size: 30px;
  margin: 10px;
}
form .btn:hover {
  z-index: 1;
  transform: scale(1.1);
}
.redes {
  font-size: 50px;
}
.redes .ig{
  color: #000000;
}
.redes .ig:hover{
  z-index: 1;
  transform: scale(1.5);
}
.redes .fb {
  color: #3b5998;
}
.redes .fb:hover{
  z-index: 1;
  transform: scale(1.5);
}
.redes .ws {
  color: #00bb2d;
}
.redes .ws:hover{
  z-index: 1;
  transform: scale(1.5);
}

/* footer */
.footer-style {
  padding-top: 50px;
  background-color: #df3a36;
}
footer {
color: white;
}
footer h3 {
margin-bottom: 10px;
  font-weight: 800;
}
footer .footer-above {
padding-top: 50px;
background-color:#df3a36;
}
footer .footer-col {
margin-bottom: 10px;
}
footer .footer-below {
padding: 25px 0;
background-color: #df3a36;
}
.banner {
  margin: 0 0 0 13vw;
  align-items: center;
  width: 75vw;
}
.carrito {
  position: fixed;
  z-index: 1;
  right: 100px;
  background-color: #df3a36;
  border-radius: 10px;
}
.carrito:hover {
  z-index: 1;
  transform: scale(1.5);

}
/* checkbox */

.form-check-input:checked{
  background-color: #df3a36;
}
.img-card {
  border-radius: 20px;
}

.imgCart{
  width: 10vw;
}
.img-carousel {
}
.ocultar {
  display: none
}



/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #df3a36; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 20px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  right: 5%; 
  bottom: 10px;/* Center the snackbar */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}
@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.sidenav {
  height: 90%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 0px;
  text-decoration: none;
  font-size: 25px;
  color:#df3a36;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  right: 50px;
  font-size: 40px;
  margin-left: 50px;
}
